@charset "utf-8";

footer 
{
	display: flex;
	justify-content: center;
}

.theFooter
{
	margin-top: 15px;
	width: 96%;
	height: 100px;
	padding: 10px;
	background-color: var(--second-bg-color);
	box-shadow: var(--sixth-bg-color) 0px 1px 2px 0px, var(--seventh-bg-color) 0px 2px 6px 2px;
	border-radius: 10px;
}
.theFooter > p {
	color: black;
}


@media screen and (max-width: 320px)
{

}
@media screen and (max-width: 480px)
{

}
@media screen and (max-width: 768px)
{

}
@media screen and (max-width: 900px)
{

}
@media screen and (max-width: 1024px)
{

}
/*footer
{
	display: flex;
	background-color: #FFC433;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
}*/
