@charset "utf-8";
@font-face
{
	font-family: MyEthnocentric;
	src: url('/static/fonts/ethnocentric-rg.otf');
}

*
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-decoration: none;
	/*box-sizing: border-box;*/
	outline: none;
	scroll-behavior: smooth;
}

:root[data-theme="light"]
{
	/* background colors */
	--bg-color: hsl(54, 40%, 91%);
	--second-bg-color: hsl(52, 23%, 68%);	
	--third-bg-color: hsl(38, 9%, 25%);
	--fourth-bg-color:hsl(40, 36%, 84%);

	/* box-shadow background colors */
	--fifth-bg-color:hsla(0, 0%, 0%, 0.302);
	--sixth-bg-color:hsla(210, 6%, 25%, 0.302);
	--seventh-bg-color:hsla(210, 6%, 25%, 0.149);

	/* text colors */
	--text-color: #45413a;
	--second-text-color: hsla(59, 4%, 90%, 1.0);
	--third-text-color: hsla(72, 16%, 24%, 1.0);
	--fort-text-color: hsla(59, 2%, 89%, 0.8);
	--fifth-text-color: hsl(0, 0%, 95%);

}

:root[data-theme="dark"]
{
	/* background colors */
	--bg-color: #38393e;
	--second-bg-color: #30302c;	
	--third-bg-color: #cfc9b6;
	--fourth-bg-color:#38393e;

	/* box-shadow background colors */
	--fifth-bg-color:hsla(0, 0%, 100%, 0.302);
	--sixth-bg-color:hsla(210, 100%, 94%, 0.302);
	--seventh-bg-color:hsla(210, 100%, 93%, 0.149);

	/* text colors */
	--text-color: #cfc9b6;
	--second-text-color:#f1f1f1;
	--third-text-color: hsla(72, 16%, 24%, 1.0);
	--fort-text-color: hsla(59, 2%, 89%, 0.8);
	--fifth-text-color: #30302c;
}

:root
{
	/* fonts and typography*/
	--text-family: MyEthnocentric;
	--text-size: 15px;
	--decay-bg-color:hsla(0, 0%, 100%, 0);
}

html
{
	/*font-size: 62.5%;*/
	overflow-x: hidden;
}

body
{
	width: 100%;
}
body::-webkit-scrollbar
{
	width: 12px;
}
body::-webkit-scrollbar-thumb
{
  background-color: hsla(69, 16%, 40%, 1.0);
  border-radius: 20px;
}
ul, ol, li 
{
    list-style-type: none;
}
a
{
	text-decoration: none;
}

@media screen and (max-width: 320px)
{

}
@media screen and (max-width: 480px)
{

}
@media screen and (max-width: 768px)
{

}
@media screen and (max-width: 900px)
{

}
@media screen and (max-width: 1024px)
{

}
/*body
{
	background-color: #FFFFFF;
	color: #515151;
	font-family: verdana;
	margin: auto;
}

a:link
{
	color: #FFFFFF;
	text-decoration: none;
}

a:visited
{
	color: #515151;
}

a:hover
{
	color: #000000;
}

a:active
{
	color: 	#04169C;
}
/*