@charset "utf-8";
#Header_Desktop
{
	width: 100%;
	display: flex;
	
}

#Header_Mobile
{
	display: none;
}

#Desktop_logo
{
	width: 100px;
	height: 100px;
	margin-left: 2%;
	transition: all 0.4s;
}
/*#Header_Desktop
{
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #9FE2BF;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#Nav_Desktop
{
	padding-top: 20px;
	padding-bottom: 20px;
}
#Header_Mobile
{
	display: none;
}*/
@media screen and (max-width: 320px)
{	

	#Header_Desktop
	{
		display: none;
	}
	#Header_Mobile
	{
		position: fixed;
		display: block;
		width: 100%;
		height: 150px;
		background: var(--third-bg-color); /* Gradiente de 0 graus linear, com deslocamento do último tom de 74%*/
		border-radius: 0px 0px 20px 20px;
		transition: all 0.4s; /*Efeito que é sentido lá no JS na ação de scroll */
		/*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
	}

	#Header_Mobile_Itens
	{
		height: 40px;
		margin-top: 15px;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	#Mobile_LinkedIn
	{
		font-size: 38px;
		margin-left:0px;
		color: var(--text-color);
		transition: all 0.5s;
	}

	#Mobile_LinkedIn:hover, #Mobile_GitHub:hover
	{
		color: var(--second-text-color);
		transition: all 0.8s;
	}

	#Mobile_GitHub
	{
		font-size: 38px;
		margin-left: 15px;
		margin-top: 0px;
		color: var(--text-color);
		transition: all 0.5s;
	}

	#Dark_Mode
	{
		font-variation-settings: 'FILL' 1; /* 0 contorno | 1 preenchido*/
		font-size: 40px;
		color: hsla(72, 16%, 24%, 1.0);
		margin-top: 0px;
		margin-left: 135px;
		transition: all 0.5s;
		cursor: pointer;
	}

	#Dark_Mode:hover
	{
		color: hsla(59, 4%, 90%, 1.0);
		transition: all 0.8s;	
	}

	#Mobile_Menu
	{
		/*Precisa organizar mais o botão */
		background-color: hsla(69, 16%, 40%, 1.0);
		width: 30px;
		height: 30px;
		border-radius: 10px 0px;
		color: hsla(59, 2%, 89%, 0.8);
		display: flex;
		justify-content: center;
		padding-top: 5px;
		margin-top: 0px;
		margin-left: 15px;
		cursor: pointer;
		transition: all 0.5s;
	}

	#Mobile_Menu:hover
	{
		background-color: hsla(59, 2%, 89%, 0.8);
		color: hsla(84, 13%, 55%, 1.0);
		transition: all 0.8s;
	}	
	
	#Header_Mobile_Dark_Mode
	{
		position: fixed;
		display: block;
		width: 100%;
		height: 150px;
		background: linear-gradient(0deg, #3C3E34, #21211C); /* Gradiente de 0 graus linear, com deslocamento do último tom de 74%*/
		border-radius: 0px 0px 20px 20px;
	}

	#Nav_Mobile
	{
		display: none;
		text-decoration: none;
		text-align: center;
		background-color: #515151;
		border-radius: 10px 0px;
		width: 20%;
		margin-left: 67.5%;
	}

	#Nav_Mobile > a
	{
		display: block;
		text-decoration: none;
		text-align: center;
		color: #FFFFFF;
		z-index: 99 !important;
		/*border-top: 2px solid #212121;*/
	}
	#Nav_Mobile > a:hover
	{
		background-color: #FFFFFF;
		color: #515151;
	}

	#Mobile_logo
	{
		width: 100px;
		height: 100px;
		margin-left: 34.375%;
		margin-top: -40px;
		transition: all 0.4s;
	}

	#Mobile_Name
	{
		font-family: Ethnocentric;
		color: hsla(69, 16%, 40%, 1.0);
		margin-left: 41.5625%;
		margin-top: 5px;
		transition: all 0.5s;
	}

	#Mobile_Name:hover
	{
		color: hsla(59, 2%, 89%, 0.8);
		transition: all 0.8s;
	}


}
@media screen and (max-width: 480px)
{
	#Mobile_Menu
	{

	}
}
@media screen and (max-width: 768px)
{

}
@media screen and (max-width: 900px)
{

}
@media screen and (max-width: 1024px)
{

}
/*header
{
	background-color: #9FE2BF;
	width: 100%;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

#logo
{
	width: 50px;
	height: 50px;
	padding	: 10px;
}

nav
{
	display: inline-block;
	width: 100%;
	/*padding-left: 10px;
}

nav a 
{
	padding: 16px;
}

#pesquisador
{
	border-radius: 0px 8px;
	width: 250px;
	height: 25px;
	margin: 15px auto 15px 10%;
}

.L-R
{
	margin-left: 15$;
}
*/